{{ menus.menu_links(items, attributes, 0) }}

<img class="menu_logo desktop-hidden mobile-hidden" src="{{ logopath }}" alt="logo">

<div class="container">
    <ul{{ attributes }} class="menu__menu">
        {% for item in items %}
            <li{{ item.attributes }}>
                {{ link(item.title, item.url) }}
                {% if item.below %}
                    <ul class="sub_menu">
                        {% for subItem in item.below %}
                            <li>
                                {{ link(subItem.title, subItem.url) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>