{{ menus.menu_links(items, attributes, 0) }}

<img class="menu_logo desktop-hidden mobile-hidden" src="{{ logopath }}" alt="logo">

<div class="container">
    <ul{{ attributes }} class="menu__menu">
        {% for item in items %}
            <li {{ item.attributes }}>
                {% if item.url.routeName ==  '<none>' %}
                    <div class="sub_menu">
                        <span class="sub_menu__link">{{ item.title }}</span>
                        {% if item.below %}
                            <ul class="sub_menu__menu">
                                {% for subItem in item.below %}
                                    <li {{ subItem.attributes }}>
                                        {{ link(subItem.title, subItem.url) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% else %}
                    {{ link(item.title, item.url) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>