{{ menus.menu_links(items, attributes, 0) }}

<img class="menu_logo desktop-hidden mobile-hidden" src="{{ logopath }}" alt="logo">

<div class="container">
    <ul{{ attributes }} class="menu__menu">
        {% for item in items %}
            <li{{ item.attributes }}>
                {{ link(item.title, item.url) }}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
